$gridi-helpers-vertical-alignment-classes: (
    vertical-align-baseline: baseline,
    vertical-align-sub: sub,
    vertical-align-super: super,
    vertical-align-top: top,
    vertical-align-text-top: text-top,
    vertical-align-middle: middle,
    vertical-align-bottom: bottom,
    vertical-align-text-bottom: text-bottom
) !default;